*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: green;
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.2rem;
    width: 16rem;
    height: 3rem;
    margin-bottom: 1rem;
    padding: 0.3rem;
}

#container {
    background-color: whitesmoke;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-row {
    display: flex;
    width: 100%;
}

.grid-div {
    flex: auto;
    aspect-ratio: 1/1;
    border: 1px solid darkslategray;
}

@media only screen and (min-width: 1024px) {
    #container {
        width: 40vw;
    }
}

.hover-color {
    background: darkslategray;
}